# Set the project root directory to the current directory
export PROJECT_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd -P)"

export FORGE_ROOT=$PROJECT_ROOT

# Add the tools/bin directory to path, this allows use to run the rip script
# without prepending path.
export PATH=$PATH:$PROJECT_ROOT/tools/bin

# Set paths to some other tools, these are expected to be one level up from the project directory.
export OPENOCD_DIR=$PROJECT_ROOT/../openocd/xpack-openocd-0.12.0-1-linux-x64/xpack-openocd-0.12.0-1/
export ARM_GCC_TOOLCHAIN_PATH=$PROJECT_ROOT/../gcc-arm-none-eabi/gcc-arm-none-eabi-10.3-2021.10-x86_64-linux/gcc-arm-none-eabi-10.3-2021.10/bin
export GDB_PATH=$PROJECT_ROOT/../gcc-arm-none-eabi/gcc-arm-none-eabi-10.3-2021.10-x86_64-linux/gcc-arm-none-eabi-10.3-2021.10/bin/arm-none-eabi-gdb

# Define an array of quotes
quotes=(
  "Ego is a structure that is erected by a neurotic individual who is a member of a neurotic culture against the facts of the matter. And culture, which we put on like an overcoat, is the collectivized consensus about what sort of neurotic behaviors are acceptable. --Terrance McKenna"
  "It's all about love... making someone elses existence just a little easier. Nothing else matters, I know this now --Terence Mckenna"
  "i was ashamed of myself when i realized life was a costume party, and i attended with my real face - franz kafka"
  "The sensitive suffer more; but they love more, and dream more -Augusto Cury"
  "Everything should be made as simple as possible, but not simpler - Einstein"
)

# Choose a random quote from the array
rand_idx=$(( RANDOM % ${#quotes[@]} ))
rand_quote=${quotes[$rand_idx]}

# Print the quote in green
echo -e "\e[32m${rand_quote}\e[0m"
