{#- Set register size or default to 32 bits. -#}
{%- set reg_size = register.size if register.size is defined else 32 -%}
{#- Transform name to conform to C++ example[0] -> example_0 -#}
{%- set reg_name = register.name -%}
{%- if '[' in reg_name and ']' in reg_name -%}
  {%- set base_name = reg_name.split('[')[0] -%}
  {%- set num = reg_name.split('[')[1].split(']')[0] -%}
  {%- set reg_name = base_name + '_' + num -%}
{%- endif -%}
{{ format_comment(register.description, width=100, indent_width=0) }}
union {{ reg_name }} {
  {#- Determine the appropriate register type based on bit width -#}
  {%- set reg_type = 'uint32_t' %}
  {%- if register.size == 8 %}
    {%- set reg_type = 'uint8_t' %}
  {%- elif register.size == 16 %}
    {%- set reg_type = 'uint16_t' %}
  {%- elif register.size == 32 %}
    {%- set reg_type = 'uint32_t' %}
  {%- elif register.size == -8 %}
    {%- set reg_type = 'int8_t' %}
  {%- elif register.size == -16 %}
    {%- set reg_type = 'int16_t' %}
  {%- elif register.size == -32 %}
    {%- set reg_type = 'int32_t' %}
  {%- endif %}
  {# Generate all enumerations before the struct definition -#}
  {%- for field in register.fields | sort(attribute='bit_offset') if field.is_enumerated_type and field.enumerated_values %}
  {%- for enum_set in field.enumerated_values %}
  {#- Generate doxygen comment -#}
  {%- set description_comment = field.description if field.description else '' %}
  {%- if description_comment %}
  // {% if description_comment %}{{ description_comment }}{% endif %}
  {%- endif -%}
  {#- Generate the enum -#}
  {%- set enum_name = enum_set.name if enum_set.name else field.name %}
  enum class e{{ enum_name }} : {{ reg_type }} {
    {%- for value in enum_set.enumerated_values %}
    {%- set description_comment = value.description if value.description else '' %}
    // {{ description_comment }}
    e{{ value.name }} = {{ value.value }},
    {%- endfor %}
  };
  {% endfor %}
  {%- endfor %}
  {% set ns = namespace(last_bit=0, reserved_counter=0) %}  {#- Persist variables -#}
  {%- set ns.current_bit = 0 %}  {#- Track the current bit position -#}
  // Bit field definition.
  struct {
    {%- for field in register.fields | sort(attribute='bit_offset') %}  {#- Ensure sorted order -#}

    {#- Generate reserved bits to fill in the gaps. -#}
    {%- if field.bit_offset > ns.current_bit %}
    {{ reg_type }} _reserved_{{ ns.reserved_counter }} : {{ field.bit_offset - ns.current_bit }};
    {%- set ns.reserved_counter = ns.reserved_counter + 1 %}
    {%- endif %}

    {#- Generate doxygen comment -#}
    {%- set access_comment = field.access.value %}
    {%- set description_comment = field.description if field.description else '' %}
    {%- if access_comment or description_comment %}
    // {{ access_comment }}{% if description_comment %} - {{ description_comment }}{% endif %}
    {%- endif -%}
    {#- Use enum only if there is exactly one enum definition for this field -#}
    {%- if field.is_enumerated_type and field.enumerated_values|length == 1 %}
    {%- set enum_name = field.enumerated_values[0].name if field.enumerated_values[0].name else field.name %}
    e{{ enum_name }} {{ field.name }} : {{ field.bit_width }};
    {%- else %}
    {{ reg_type }} {{ field.name }} : {{ field.bit_width }};
    {%- endif %}
    
    {#- Update current bit position -#}
    {%- set ns.current_bit = field.bit_offset + field.bit_width %}
    {%- endfor %}
    
    {#- Insert final reserved bits if there are gaps left -#}
    {%- if ns.current_bit < reg_size %}
    {{ reg_type }} _reserved_{{ ns.reserved_counter }} : {{ reg_size - ns.current_bit }};
    {%- endif %}
  } bits;
  
  // Full {{ reg_size }}-bit register value.
  {{ reg_type }} value;

  {{ reg_name }}() = delete;
  inline void Reset() volatile { this->value = 0x{{ "%08X" % register.reset_value }}; }
  static inline volatile {{ reg_name }} &ref() { return *reinterpret_cast<volatile {{ reg_name }}*>(0x{{ "%08X" % (peripheral.base_address + register.address_offset) }}); }
};
