{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "{{ name }}",
            "type": "cppdbg",
            "request": "launch",
            "cwd": "${workspaceRoot}",
            "program": "{{ executable }}",
            "MIMode": "gdb",
            "miDebuggerPath": "{{ gdb_path }}"
        }
    ]
}
