
{
    "name": "{{ name }}",
    "type": "cppdbg",
    "request": "launch",
    "cwd": "${workspaceRoot}",
    "program": "{{ executable }}",
    "MIMode": "gdb",
    "miDebuggerPath": "{{ gdb_path }}"
}
