{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Arm gcb using OpenOCD",
            "type": "cppdbg",
            "request": "launch",
            "cwd": "${workspaceRoot}",
            "program": "{{ executable_fullfile }}",
            "MIMode": "gdb",
            "miDebuggerPath": "{{ gdb_path }}",
            "miDebuggerServerAddress": "localhost:3333",
            "targetArchitecture": "arm",
        }
    ]
}
