# This config file is intendedc to be used to start the openOCD server, so the
# user can execute telnet commands

# ST-Link/V2-2 configuration
source [find ${OPENOCD_DIR}/openocd/scripts/interface/stlink.cfg]

# Select HLA SWD transport protocol
transport select hla_swd

# STM32H7 series configuration
source [find ${OPENOCD_DIR}/openocd/scripts/target/stm32h7x.cfg]

# # Set adapter speed
# adapter speed 1000

# # Use the HSI (Internal RC oscillator) for the STM32H7

# Set the on-target working memory for openocd. TODO what is the sytem ram size.
set WORKAREASIZE 0x8000

# Enable debug (openocd debug statements)
set ENABLE_DEBUG 1

# TODO understand the necessity of this.
set CONNECT_UNDER_RESET 1
